.el-header {
	height: 6.75rem !important;
	padding-left: 1.25rem !important;
	padding-right: 0.875rem !important;
}
.splitpanes--vertical > .splitpanes__splitter,
.splitpanes--horizontal > .splitpanes__splitter {
	background-color: #50bdd5;
}
.splitpanes__pane {
	position: relative;
}
.resultContent {
	background-image: url('@/assets/img/resultContent.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 1.125rem 1.3125rem 1.5rem 1.5rem;
	.resultContentTitle {
		font-family: 'YouSheBiaoTiHei';
		font-size: 16px;
		font-weight: 400;
		color: #fff;
	}
	.resultContentText {
		font-size: 14px;
		font-weight: 400;
		color: #fff;
		line-height: 20px;
		letter-spacing: 2px;
		max-height: 80px;
		overflow: hidden;
		overflow-y: auto;
		.resultContentTextItem {
			font-family: 'SourceHanSansCN-Regular';
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0px;
			vertical-align: middle;
			color: #c4c4c4;
		}
	}
}
.yearChartItemContent {
	font-size: 14px;
	color: #fff;
	height: 90px;
	overflow-y: auto;
	padding-right: 10px;
	.yearChartItemContentItem {
		display: flex;
		align-items: center;
		span {
			font-size: 14px;
			color: #fff;
			font-weight: 400;
			line-height: 18px;
			font-family: 'AlibabaPuHuiTi-55';
			&:first-child {
				width: 125px;
			}
			&:last-child {
				color: #66ffff;
				font-size: 24px;
				font-family: 'YouSheBiaoTiHei';
			}
		}
	}
	.yearChartItemContentItem:last-child {
		margin-bottom: 0;
	}
}
.yearChart1 {
	display: flex;
	.yearChartItem1 {
		width: 50%;
		text-align: center;
		.yearChartItemTitle1 span {
			width: 66px;
			height: 22px;
			color: rgba(102, 255, 255, 1);
			font-family: 'AlibabaPuHuiTi-95';
			font-weight: 800;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0px;
			text-align: center;
			vertical-align: middle;
			background-color: #254162;
			border-bottom: 1px solid rgba(155, 172, 255, 1);
		}
	}
}
.duibi {
	background-size: 100% 100%;
	width: 100%;
	box-sizing: border-box;

	.customLegend {
		padding: 7px 10px 0;
		.legendItem {
			display: flex;
			align-items: center;
			gap: 6px;
			.legendColor {
				width: 12px;
				height: 8px;
				border-radius: 2px;
			}
			span {
				color: #fff;
				font-size: 12px;
				font-family: 'AlibabaPuHuiTi-55';
			}
		}
	}
	.chartContainer {
		height: 10.875rem;
		.barChart {
			width: 100%;
			height: 100%;
		}
	}
}

.trafficCommuting {
	height: 11.25rem;
	padding: 0.3125rem 0 0.625rem 0.1875rem;
	overflow: hidden;
	& .bhl {
		font-family: 'AlibabaPuHuiTi-65';
		font-weight: 400;
		font-size: 10px;
		color: #ffffff;
		top: 0.1875rem;
		left: 20.625rem;
		color: #5cdaf5;
	}
	.trafficCommutingItem {
		display: flex;
		align-items: flex-end;
		height: 1.75rem;
		&:not(:last-child) {
			margin-bottom: 0.3125rem;
		}
		.trafficCommutingItemTitle {
			font-family: 'AlibabaPuHuiTi-65';
			font-weight: 400;
			font-size: 12px;
			color: #ffffff;
			width: 2.1875rem;
			height: 0.8125rem;
			padding-left: 0.3125rem;
			border-radius: 0.375rem;
			&.top1 {
				background: linear-gradient(
					90deg,
					#ff386b 3.71%,
					rgba(100, 29, 39, 0.0001) 94.31%
				);
			}
			&.top2 {
				background: linear-gradient(
					90deg,
					#fe9314 3.71%,
					rgba(100, 76, 29, 0.0001) 94.31%
				);
			}
			&.top3 {
				background: linear-gradient(
					90deg,
					#fec133 3.71%,
					rgba(100, 91, 29, 0.0001) 94.31%
				);
			}
			&.top4 {
				background: linear-gradient(
					90deg,
					#5df6e1 3.71%,
					rgba(38, 145, 141, 0) 94.31%
				);
			}
			&.top5 {
				background: linear-gradient(
					90deg,
					#00d9f4 3.71%,
					rgba(102, 41, 150, 0.0001) 94.31%
				);
			}
		}
	}
	.trafficCommutingItemContent {
		width: 16.875rem;
		margin-left: 0.375rem;
		.trafficCommutingItemContentItem {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-family: 'AlibabaPuHuiTi-65';
			color: #ffffff;
			font-size: 12px;
			border-radius: 4px;
			.name {
				font-family: 'AlibabaPuHuiTi-55';
				font-size: 12px;
				font-weight: 400;
				color: #ffffff;
			}
			.time {
				font-family: 'AlibabaPuHuiTi-55';
				font-size: 10px;
				font-weight: 400;
				color: #5cdaf5;
			}
		}
		.line {
			display: flex;
			align-items: center;
			height: 0.8125rem;
			& p {
				border-left: 2px solid white;
				height: 0.5625rem;
			}
			&.top1 {
				border: 1px solid rgba(255, 56, 107, 1);
			}
			&.top2 {
				border: 1px solid rgba(254, 147, 20, 1);
			}
			&.top3 {
				border: 1px solid rgba(254, 193, 51, 1);
			}
			&.top4 {
				border: 1px solid rgba(93, 246, 225, 1);
			}
			&.top5 {
				border: 1px solid rgba(0, 217, 244, 1);
			}
			& .top1 {
				background: linear-gradient(
					99.68deg,
					#ff386b 5.5%,
					rgba(236, 17, 99, 0.2) 91.74%
				);
			}
			& .top2 {
				background: linear-gradient(
					99.7deg,
					#fe9314 5.51%,
					rgba(236, 134, 17, 0.2) 91.73%
				);
			}
			& .top3 {
				background: linear-gradient(
					99.69deg,
					#fec133 5.51%,
					rgba(236, 178, 17, 0.2) 91.73%
				);
			}
			& .top4 {
				background: linear-gradient(
					99.68deg,
					#5df6e1 5.5%,
					rgba(101, 211, 181, 0.2) 91.74%
				);
			}
			& .top5 {
				background: linear-gradient(
					99.68deg,
					#00d9f4 5.5%,
					rgba(31, 199, 255, 0.2) 91.74%
				);
			}
		}
	}
	.trafficCommutingItemImg {
		width: 0.75rem;
		height: 0.5625rem;
		margin-left: 0.3125rem;
		margin-right: 0.125rem;
	}
}

.emptyTxt {
	user-select: none;
	display: flex;
	align-items: center;
	font-family: 'AlibabaPuHuiTi-65';
	font-weight: 500;
	font-size: 0.875rem;
}

.scenario-section {
	margin-bottom: 12px;
	background: rgba(17, 46, 70, 0.8);
	padding: 12px 0 10px;

	.scenario-tabs {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.scenario-tab {
			position: relative;
			cursor: pointer;
			transition: all 0.3s;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 80px;
			height: 30px;
			margin-bottom: 9px;
			&:not(:nth-child(4n)) {
				margin-right: 10px;
			}

			.scenario-tab-bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				background-size: 100% 100%;
				background-repeat: no-repeat;
				background-position: center center;
			}

			.scenario-tab-text {
				position: relative;
				z-index: 1;
				color: #fff;
				font-size: 18px;
				font-family: 'YouSheBiaoTiHei';
				white-space: nowrap;
			}
		}
	}
}
