* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  font-size: 16px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  vertical-align: bottom;
  border: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.markdown-body ul,
.markdown-body ol {
  margin: 1rem;
  padding: inherit;
  list-style: initial;
}

strong,
b,
th {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #333;
}

select {
  -webkit-appearance: none;
}

input {
  padding: 0;
  margin: 0;
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

textarea {
  resize: none;
  overflow: auto;
}

input[type='date']::-webkit-inner-spin-button {
  visibility: hidden;
}
